DATABASE_URL=
PORT=

OPENAI_API_KEY=
OPENROUTER_API_KEY=
GEMINI_API_KEY=
OPENCODE_API_KEY=

OPENAI_MODEL=
OPENROUTER_MODEL=
OPENCODE_MODEL=
GEMINI_MODEL=

OPENCODE_BASE_URL=
GEMINI_BASE_URL=

FIRECRAWL_API_KEY=

OPENROUTER_HTTP_REFERER=
OPENROUTER_X_TITLE=
